.title {
    font-family: 'Angkor', serif;
    font-weight: 100;
}

.subtitle {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

.content {
    margin-left: 340px;
    font-family: 'Rubik', sans-serif;
}

.box {
    margin-top: 50px;
    height: 400px !important;
    width: 400px !important;
    background-color: #242729 !important;
    border-radius: 25px !important;
    border: 1px solid #575D62 !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.box * {
    font-family: 'Rubik', sans-serif;
}

.box-failed {
    position: absolute !important;
    margin-top: -402px !important;
    margin-left: 450px;
    background-color: #343029 !important;
}

.sidebar {
    width: 300px;
    background-color: rgb(21, 22, 22);
    position: fixed !important;
    top: 65px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 15px 0;
    overflow: auto;
    border-right: 1px solid #575D62;
}

.sidebar--spacer {
    margin-top: 35px;
}
  
.sidebar--button {
    right: 0px !important;
    width: 268px !important;
    height: 35px !important;
    color: white !important;
    text-decoration: none !important;
    background-color: rgb(21, 22, 22) !important;
    text-transform: none !important;
    font-weight: bold !important;
    border-radius: 0px !important;
}
  
.sidebar--button:hover {
    -webkit-transition-duration: 0.5s !important;
    transition-duration: 0.5s !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: rgb(51, 52, 52) !important;
}

.sidebar--button-active:hover {
    background-color: #3073AD !important;
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24) !important;
    background-color: #74B7EF  !important;
}

.sidebar--button-active {
    background-color: #3073AD !important;
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24) !important;
}
  
.sidebar--button p {
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 70px
}
  
.sidebar--button--icon {
    position: absolute;
    top: 5px;
    left: 30px
}